body{
    font-family: var(--fontFamily);
}
.index-titulo{
    font-size: 6em;
    color: var(--color7);
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
}
header{
    background-color: var(--color4);
    height: 150px;
    border-bottom: 2px solid black;
}
.aguia{
    width: 500px;
}
.arara{
    width: 460px;
}
.tucano{
    width: 510px;
}
main{
    width: 97vw;
    margin: auto;
}
p{
    font-size: 1.3em;
    text-align: justify;
    margin: 10px;
    padding: 10px;
    text-indent: 20px;
}
.aguia:hover,.arara:hover,.tucano:hover{
border: 3px solid var(--color8);
transform:rotate(1deg);
}
div{
    width: 90vw;
    margin: auto;
}
footer{
    background-color: var(--color5);
    margin: auto;
    padding-top: 18px;
    height: 50px;
}
.rodape{
    text-align: center;
    font-size: .8em;
}
